.header {
    text-align: center;
}
#logo {
  height:17vh;
  margin-right: 20vw;
  justify-content: center !important;
}
#searcheader {
    border-color: #d1ba9b;
    height: 36px;
    width: 220px !important;
    margin-top: 1px;
    margin-left: 4px !important;
    direction: rtl;
}
#searcheader:focus {
  box-shadow: none !important;
  border-color: #d1ba9b;
}
#searchicon {
  margin-left: 4px;
  height: 5vh;
  float: left;
}
.up {
   float: left;
   margin-left: 8vw;
}
#login {
  float: left;
  width:130px;
}
/* menu */
a.nav-link {
  color:rgb(193, 171, 135);
  font-weight: 650;
  font-size: 2.95vh;
 
}
a.nav-link:hover {
  color:white;
  background-color:rgb(193, 171, 135);
}
.navbar {
  justify-content: center !important;
}