
#title {
 color:#03233a ;
  font-size: 4.5vh !important;
  text-align: right;
  margin-bottom: 4%;
  font-weight: 700;
}
p {
color:#03233a !important;
font-size: large;
font-weight: 600;
text-align: right;
line-height: normal;
}
.row {
column-count: 2;
width: 100%;
}
#text{
  float: right;
  padding: 3%;
  padding-right: 12%;
  padding-left: 5%;
  width: 60% !important;
  background-color: rgb(245, 247, 247);
  position: relative; 
 }
#imgAbout {
height: 70vh;
z-index: 9;
float: right;
margin-top:5%;
margin-bottom:5%; 
position: relative;
right: 6vw; 
}
#about {
padding-right:  8vw; 
margin:10vh;
}
.more {
  background-color: transparent !important;
  border:none !important;
  width: 20vh !important;
  margin-right:27vw !important;
}
.more:hover, .more:focus,.more:active {
  text-decoration: none !important;
}
#more {
  height: 2.5vh !important;
  padding-bottom: 0.5vh !important;
}