h2 {
color:#03233a ;
text-align: center;
padding: 3%;
}
.h2 {
text-align: right;  
margin-right: 15vw; 
padding: 0%;
}
#backgroundSearch {
 background-color:rgb(240, 240, 240);
 margin-left: 15vw;
 margin-right: 15vw;
 margin-top: 5vh;
 margin-bottom: 4vh;
 padding-bottom: 18vh;
 padding-top: 5vh;
}
#resultSearch {
 height: 50vh;
}