form {
 justify-content: center !important;
} 
.form-inline {
padding-right: 10vw;
} 
.form-inline .form-control {
  width: 35vw !important; 
  border-radius: 12px !important; 
  border-color: transparent !important;
}
.form-inline .form-control:focus {
box-shadow: none;
} 
.mr-sm-2 {
  margin-left:10vw !important;
}

.dropdownSerach {
 margin-top: 6vh !important;
}
