
a.nav-link {
    color:#dcc2a1;
    font-weight: 650;
    font-size: 2.7vh;
   
}
a.nav-link:hover {
    color:white;
    background-color:#dcc2a1;
}
.navbar {
    justify-content: center !important;
}
