#price {
font-size: smaller !important;
font-weight: normal !important;
/* text-align: center; */
}
.addTOoCart {
background-color: #dcc2a1 !important;
border-color: transparent !important;
/* background-image:url("/images/cartBooks.png") !important; */
}
.bookInStore {
background-image:url("/images/booksback.png") ;
display: flex;
flex-direction: column;
grid-row: span 2;
justify-content: center !important;
box-shadow: thistle;
}