form {
 justify-content: center !important;
} 
.form-inline {
padding-right: 10vw;
} 
.form-inline .form-control {
  width: 600px !important; 
  border-radius: 12px !important; 
}
.form-inline .form-control:focus {
box-shadow: none;
} 
.mr-sm-2 {
  margin-left:10vw !important;
}
#dropdownSerach {
background-color: white !important;
color:#dcc2a1;
width: 500px !important;
text-align: right;
margin-top: 3vw;
margin-left: 100vw;
margin-right: 90vw;
margin-bottom: 2vw;
}

#dropdownSerach:focus{
 text-shadow: none !important;
}
