/* .form-control {
color:#d1ba9b !important;
width: 100%;
height: 115%;
border-radius: 9px;
}
.form-control:focus {
box-shadow: none;
border-color: white;
}
/* .form-inline .form-control {
width: 40%;
 margin: 1.5%; 
color: #dcc2a1;
}  */
/* .mr-sm-2 {
 height: 120%;
 width: 70%;
 text-shadow: none;
 } */
form {
 justify-content: center !important;
}  
.form-control {
width: 150%;                
} 
#dropdownSerach {
background-color: white;
color:#dcc2a1;
direction: rtl;
width: 220%;

}

#dropdownSerach:focus{
 text-shadow: none !important;
}
